// COLORS
$dark: rgba(41, 33, 33, 0.966);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-size: 1.6rem;
    
}

.header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    height: 100vh;
    &__img{
        display: grid;
        grid-column: 1/2;
        grid-row: 1/2;
        position: relative;
        height: 100%;
        width: 100%;
        background-image: url('../img/bitcoin-ge147f5685_640.jpg');
        background-position: center;
        background-size: cover;
        filter: sepia();
        z-index: 0;
     
    }

    &__shadow{
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(2, 2, 2, 0.5);
        z-index: 10;
    }

    &__text{
        display: grid;
        align-content: center;
        justify-content: center;
        grid-column: 1/2;
        grid-row: 2/3;
        background-color: $dark;

    }
}

