@use '../index/index.scss' as *;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-size: 1.6rem;
    
}

@keyframes rotate-right{
    from{
        transform: rotate(0);
    }

    to{
        transform: rotate(360deg);
    }
}

.anime-icon{
    color: #af92351c;
    z-index: 1;
}

.header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    height: 100vh;
    &__img{
        display: grid;
        grid-column: 1/2;
        grid-row: 1/2;
        position: relative;
        height: 100%;
        width: 100%;
        background-image: url('../../img/bitcoin-ge147f5685_640.jpg');
        background-position: center;
        background-size: cover;
        filter: sepia();
        z-index: 0;
     
    }

    &__shadow{
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(2, 2, 2, 0.3);
        z-index: 10;
    }

    &__text{
        position: relative;
        display: grid;
        align-content: center;
        justify-content: center;
        grid-column: 1/2;
        grid-row: 2/3;
        background-color: $dark;
        color: $primary;

    }

    &__head{
        padding: .1em .5em;
        font-size: 6rem;
        font-family: $logo-bold;
    }

    &__body{
        padding: .4em .9em;
        font-size: 3rem;
        font-family: $main-font;
        color: $light;
    }

    &__anime-icon-one{
        position: absolute;
        top: 20%;
        left: 50%;
        font-size: 55rem;
        animation: rotate-right 100s linear infinite;
        


    }
}

