@use '../index/index.scss' as *;

.wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    

}

body{
    font-size: 1.6rem;
    font-family: $primary-font;
    
    
}





// ANIMATIONS

@keyframes pulse {
    from{
        transform: scale(1);
        opacity: .5;
    }

    to{
        transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes rotate-right{
    from{
        transform: rotate(0);
    }

    to{
        transform: rotate(360deg);
    }
}

@keyframes rotate-left{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(-360deg);
    }
}

.anime-icon{
    color: #af92351c;
    z-index: 10;
}

.header{
    background-color: $dark;
    height: 100vh;
    width: 100%;
    z-index: 0;

   
    &__img{
        position: relative;
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
        filter: sepia();
        z-index: 15;
    }

    &__shadow{
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(2, 2, 2, 0.3);
    }

    &__text{
        position: relative;
        display: grid;
        align-content: center;
        justify-content: center;
        color: $primary-color;
    }

    &__head{
        padding: .1em .5em;
        font-size: 4rem;
        font-family: $logo-bold;
    }

    &__body{
        padding: .4em .9em;
        font-size: 2rem;
        font-family: $primary-font;
        color: $light;
    }

   
    &__squares{
        display: grid;
        grid-template-columns: 248px minmax(0, 2fr);
    }    
}

.nav{
    font-family: $primary-font;
}

.cards{
    background-color: $darker;
    color: $light;
    &__box{
        padding: 1em;
    }

    &__card{
        position: relative;
        padding: 3em 2em;
        margin: 1.5em 1em;
        background-color: $dark;
        border-radius: 8px;
        text-align: center;
        border: 1px solid transparent;
        transition: background-color .3s, border .3s;

        h3{
            font-size: 2.5rem;
            padding-bottom: 0.2em;
        }

        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            border-radius: 8px;
            border: 1px solid $primary-color;
            opacity: 0;
        }

        &:hover::before{
            animation: pulse 2s;
        }
    }

    &__card:hover{
        background-color: $darker;
        border: 1px solid $primary-color;
    }

    .fa-arrow-trend-up{
        font-size: 4rem;
        padding-bottom: 0.3em;
        color: $primary-color;
    }
}


