@use '../utilities/colors' as *;
@use '../utilities/fonts' as *;

@media (min-width: 992px) {
    .anime-icon{
        z-index: -10;
    }

    .header{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr repeat(2, 2fr);
    
        &__text{
            display: grid;
            grid-column: 1/2;
            grid-row: 2/4;
            padding: 2em;
        }

        &__img{
            display: grid;
            grid-column: 2/3;
            grid-row: 1/4;
            background-image: url('../../img/bitcoin-3014614_1920.jpg');
            
        }

     
            &__arrow{
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                bottom: 4%;
                left: 50%;
                border: 1px solid $light;
                border-radius: 50%;
                transform: translateX(-50%);
                z-index: 16;
            }

          
            
            &__arrow::before{
                content: '';
                position: absolute;
                top: -1%;
                left: -1%;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                border: 1px solid $light;
                animation: pulse 3s linear infinite;
                opacity: 0;
            }

            &__anime-icon-one{
                position: absolute;
                top: 10%;
                left: 30%;
                font-size: 35rem;
                animation: rotate-right 100s linear infinite;
                z-index: -1;
            }
        
            &__anime-icon-two{
                position: absolute;
                bottom: 10%;
                left: 15%;
                font-size: 5rem;
                animation: rotate-left 100s linear infinite;
            }
        
    }

	.nav{
        display: grid;
        grid-column: 1/2;
        grid-row: 1/2;
        padding: .8em;
        width: 50%;

        &__link{
            position: relative;
            text-decoration: none;
            color: $light;

            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 1px solid $primary-color;
                opacity: 0;            
        }

        &:hover::before{
            animation: 1s pulse linear;

        }
            
     }

        

    &-desktop{
        display: flex;
        justify-content: space-around;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 3rem;
        background-color: $dark;
        border-bottom: .1px solid $light;
       
    }

    &-mobile{
        display: none;
    }
 }

 .invest{
    position: relative;
    background-color: $dark;
    color: $light;
    h2, h3{
        color: $primary-color;
    }

    h2{
        padding-left: 1em;
        padding-top: 1em;
    }
    &__one{
        font-size: 10rem;
        z-index: 100;
    }
    &__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    &__box{
        padding-top: 2em;
    }

    &__box--one{
        grid-row: 1/2;
        grid-column: 2/3;
    }

    &__box--two{
        grid-row: 2/3;
        grid-column: 2/3;
    }

    &__box--three{
        grid-row: 3/4;
        grid-column: 2/3;
    }

    &__one{
        position: absolute;
        top: 30%;
        left: 20%;
        font-size: 35rem;
        
    }


 }
    
}
